@model int?

<style type="text/css">
    .box {
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-color: #e9ecef;
    }
</style>
    @*box-shadow: 2px -2px 1px grey;*@
<div class="card shadow">
    <div class="card-body">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav_Beta" data-toggle="tab" href="#BetaViewComponent" role="tab" aria-controls="BetaViewComponent" aria-selected="true">Beta Tester</a>
                <a class="nav-item nav-link" id="nav_Jimmy" data-toggle="tab" href="#JimmyViewComponent" role="tab" aria-controls="JimmyViewComponent" aria-selected="false">Jimmy</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active box" id="BetaViewComponent" role="tabpanel" aria-labelledby="nav_Beta">
                <div class="row">
                    <img src="~/images/Beta_Tester_Char1.png" class="col-md-4" style="background-color:lightgray; height:370px; margin-left: 4.16666667%; border-radius:15px; cursor:pointer; padding:0;" data-toggle="modal" data-target="#PersonagensModal" alt="">
                    @*<div class="col-md-3" style="background-color:lightgrey; margin-left: 15px; border-radius:15px;"></div>*@
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <h2><strong>Beta Tester</strong></h2>
                        <br />
                        Agrade o Beta tester e salve a empresa da falência.
                    </div>
                </div>
            </div>
            <div class="tab-pane fade box" id="JimmyViewComponent" role="tabpanel" aria-labelledby="nav_Jimmy">
                <div class="row">
                    <img src="~/images/Jimmy_in_the_hell.png" class="col-md-4" style="background-color:lightgray; height:270px; margin-left: 4.16666667%; border-radius:15px; cursor:pointer; padding:0;" data-toggle="modal" data-target="#PersonagensModal" alt="">
                    @*<div class="col-md-3" style="background-color:lightgrey; margin-left: 15px; border-radius:15px;"></div>*@
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <h2><strong>Jimmy in the Hell</strong></h2>
                        <br />
                        Controle o cenário e use armadilhas para impedir (ou ajudar) Jimmy a roubar o tridente do Capiroto.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.HasValue)
{
    if (Model == 1)
    {
        <script type="text/javascript">
            $('#nav_Beta').click();
        </script>
    }
    else if (Model == 2)
    {
        <script type="text/javascript">
            $('#nav_Jimmy').click();
        </script>
    }
}