@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <img src="~/images/logo.gif" style="width:80%; height:80%;" />
        @*<h1 style="font-size:100px;">Beta Tester</h1>*@
    </div>
</div>

<div class="row" style="margin-top: -1em;">
    <div class="col-md-2"></div>
    <img src="~/images/Jimmy_in_the_hell.png" class="col-md-8" style="background-color:lightgray; height:360px; border-radius:15px; cursor:pointer; padding:0;" data-toggle="modal" data-target="#PersonagensModal" alt="">
    @*<div class="col-md-8 text-center" style="background-color:lightgray; border-radius:15px; height:300px;">
        </div>*@
</div>
<div class="row" style="margin-top:5em;">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="background-color:#e8e8e8; border-radius:15px;">
        <h2><strong>Sobre o Jogo</strong></h2>
        <label style="text-align:justify;">
            Você já jogou um game de plataforma? É provável que sim. Salvar uma princesa, pular em cima de inimigos, comer cogumelos alucinógenos e correr por aí. Realmente um clássico!
            E um jogo dentro de um jogo onde você é a plataforma? Como assim? Deixa que a gente te explica.

            No jogo Beta Tester, uma empresa de desenvolvimento de jogos está recrutando voluntários para testar seu novo jogo e descobrir se ele pode ser comercializável no futuro. São recrutados três voluntários com perfis diferentes. Os três deverão testar um jogo chamado “Jimmy in the Hell”. No game, Jimmy é um aluno que acabou indo parar no inferno (devia ser um capeta mesmo) e lá descobre que para reverter sua situação, deve resgatar seus amigos e roubar o tridente do “Capiroto”. O tridente tem o poder de voltar o tempo, mas tirá-lo do Capiroto não será fácil.

            Os três beta testers devem gostar do game ou uma galera não vai poder pagar as contas do mês. Para ajudar a empresa você deverá controlar a dificuldade do jogo de acordo com o gosto dos beta testers. Para isso você terá o poder de mover as armadilhas e as plataformas do cenário. Cada beta tester tem um perfil, alguns gostam de ser desafiados com armadilhas mortais, outros são leite com pera e choram com a mínima dificuldade.
            Cabe a você jogador, agradar os beta testers e salvar a empresa da falência!
        </label>

    </div>
</div>
